.user-panel>.info{
	position: inherit;	
	left: 0px;
}


.ui-growl {
    z-index:9999 !important;
}

.login-page{
     
    background-image: url("../../resources/img/background_login.jpg");
    background-size:cover;
}
